{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard prueba{% endblock %}
{% block content %} 
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div>
    <h1>Tablero de control de paradas en el sistema de cable</h1>
    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" title="Plantilla_paradas" width="1366" height="768" src="https://app.powerbi.com/view?r=eyJrIjoiOWU5MmY3YWItYTFkYS00NjJkLTg2NmItYTExM2Y3YjM5NmZjIiwidCI6ImFmYWRlNjcyLTUwNjMtNGI5Yi1iYWFmLTg0NWMzZmZkZGIzMCJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>



{% endblock %}
