<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" 
            path="*" 
            verb="*" 
            modules="FastCgiModule" 
            scriptProcessor="C:\Website\AppRegistroParadas\env\Scripts\python.exe|C:\Website\AppRegistroParadas\env\Lib\site-packages\wfastcgi.py" 
            resourceType="Unspecified" 
            requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\Website\AppRegistroParadas\Cable_paradas" />
        <add key="WSGI_HANDLER" value="OperacionCable.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="OperacionCable.settings" />
        <add key="VIRTUAL_ENV" value="C:\Website\AppRegistroParadas\env" />
    </appSettings>
</configuration>